spring:
  application:
    name: nsub

  devtools:
    restart:
      enabled: true
      poll-interval: 1000
      quiet-period: 400
    livereload:
      enabled: true

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}